

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h2 class="text-primary d-flex justify-content-between">{{ item.title|ucfirst }} 
      {% if pinned is defined %}<i class="fas fa-thumbtack"></i>{% endif %}
      {% if item.publishAt > date()%}
          <small><i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Nog niet publiek"></i></small>
      {% elseif not item.enabled %}
          <small><i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Niet gepubliceerd"></i></small>
      {% endif %}
    </h2>

    {{ item.body|raw }}

    {% if item.document or item.competition %}
      <p class="text-center text-md-left">

        {% if item.document %}
          <a href="{{ vich_uploader_asset(item, 'documentFile') }}" class="btn btn-sm btn-outline-primary ml-1 mr-1 mb-2" target="_Blank"><i class="fas fa-file-pdf"></i> bijlage</a>
        {% endif %}

{{item.competition}}
        {% if item.competition > 10  %}

          {% set comp = item.competition %}
{{dump(comp)}}

          {% if item.publishAt < item.event.startTime|date_modify('midnight') %}

            {% for doc in comp.documentsBySlug('info') %}
              <a class="btn btn-outline-primary btn-sm ml-1 mr-1 mb-2" href="{% if doc.document %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}" target="_Blank"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
            {% endfor %}

            {% for doc in comp.documentsBySlug('briefing') %}
              <a class="btn btn-outline-primary btn-sm ml-1 mr-1 mb-2" href="{% if doc.document %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}" target="_Blank"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
            {% endfor %}

            {% if comp.documentsContainSlug('programma') %}

              {% for doc in comp.documentsBySlug('programma') %}
                <a class="btn btn-outline-primary btn-sm ml-1 mr-1 mb-2" href="{% if doc.document %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}" target="_Blank"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
              {% endfor %}

            {% else %}

              {% for doc in comp.documentsBySlug('voorprogramma') %}
                <a class="btn btn-outline-primary btn-sm ml-1 mr-1 mb-2" href="{% if doc.document %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}" target="_Blank"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
              {% endfor %}

            {% endif %}

          {% else %}

            {% for doc in comp.documentsBySlug('uitslag') %}
              <a class="btn btn-outline-primary btn-sm ml-1 mr-1 mb-2" href="{% if doc.document %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}" target="_Blank"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
            {% endfor %}

          {% endif %}

        {% endif %}
      </p>
    {% endif %}

    {% if item.image is not empty %}
        <p><img src="{{ vich_uploader_asset(item, 'imageFile') }}" class="img-fluid rounded scroll-fade-in" style="max-height:800px;"></p>
    {% endif %}

    <div class="small text-muted d-flex justify-content-between">
      <ul class="list-inline mb-0">
        <li class="list-inline-item"><i class="far fa-newspaper"></i> <a class="text-muted text-decoration-none" href="{{ path('blog_category', {'slug': item.category.slug}) }}">{{ item.category }}</a></li>
        <li class="list-inline-item">{{ item.publishAt|localizeddate('full','none') }}</li>
        <li class="list-inline-item"><i class="far fa-user" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ item.Author.firstName }}"></i></li>
      </ul>
      <ul class="list-inline mb-0">
        {% if item.event is not empty %}
          <li class="list-inline-item">
            <a href="{{ path('calendar_event', {'uuid': item.event.uuid}) }}"><i class="far fa-calendar-alt"></i></a>
          </li>
        {% endif %}
        <li class="list-inline-item">
          <a href="{{ path('blog_post', {'id': item.id, 'slug': item.slug}) }}"><i class="fas fa-link"></i></a>
        </li>
      </ul>
    </div>

  </div>
