{% extends 'default.html.twig' %}

{% block title %}{{ page.blog_post.title }}{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h2 class="text-red d-flex justify-content-between">{{ page.blog_post.title }}</h2>

    {{ page.blog_post.body|raw }}

    {% if page.blog_post.document is not empty %}
      <p class="text-center text-md-left"><a href="{{ vich_uploader_asset(page.blog_post, 'documentFile') }}" class="btn btn-sm btn-hozt"><i class="far fa-file-pdf"></i> bijlage</a></p>
    {% endif %}

    {% if page.blog_post.image is not empty %}
        <p><img src="{{ vich_uploader_asset(page.blog_post, 'imageFile') }}" class="img-fluid rounded fade-in"></p>
    {% endif %}

    <div class="small text-muted d-flex justify-content-between">
      <span>
        <span class="pr-2"><i class="far fa-newspaper"></i> <a class="text-muted" href="{{ path('blog_category', {'slug': page.blog_post.category.slug}) }}">{{ page.blog_post.category }}</a></span>
        <span class="pr-2">{{ page.blog_post.createdAt|localizeddate('medium','none') }} <i class="far fa-clock"></i> {{ page.blog_post.createdAt|localizeddate('none','short') }}</span>
        <span class="pr-2"><i class="far fa-user" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ page.blog_post.Author.firstName }}"></i></span>
      </span>
      <span class="pr-2">
        <a href="{{ path('blog_post', {'id': page.blog_post.id, 'slug': page.blog_post.slug}) }}" class="text-muted"><i class="fas fa-link"></i></a>
      </span>
    </div>

  </div>

{% endblock %}
