{% extends 'default.html.twig' %}

{% set event = page.calendar_event %}
{% set past  = date(event.trueEndTime) < date() %}

{% block title %}{{event.title|capitalize}}{% endblock %}


{% block main %}

  <h4 class="m-3 ml-md-0"><i class="far fa-calendar-alt"></i> Kalender <span class="text-muted"> / {{event.category}}</span></h4>

  <div class="p-3 mb-4 bg-white shadow-sm">

    <div class="media align-top mt-3 cal-{{event.category.sequence}}">

      <span class="badge badge-dark mr-3 cal cal-md cal-{{event.category.sequence}}">{{event.startTime|date('d')}}<br>{{event.startTime|localizeddate('none', 'none', null, null, 'LLL')|trim('.')}}</span>

      <div class="media-body pb-0 mb-0 lh-125">

        {% if event.cancelled %}
          <h5 class="pb-0 mb-1 d-flex justify-content-between">{{event.title|title}}<small><span class="badge badge-danger">Geannuleerd</span></small></h5>
        {% else %}
          <h5 class="pb-0 mb-1">{{event.title|title}}</h5>
        {% endif %}

        <h6 class="d-flex justify-content-between mb-2">{{event.getFormattedPeriod|lower}}</h6>

        <ul class="list-unstyled {% if not event.cancelled %}text-muted{% endif %} small mb-1 cal">
          {% if event.competition is null %}
            {% if event.location %}<li class="mb-1"><i class="fas fa-map-marked-alt"></i> {{event.location|capitalize}}</li>{% endif %}
          {% else %}
            <li class="mb-1"><i class="fas fa-swimming-pool"></i> {{event.competition.pool}}{% if event.location %}, {{event.location|capitalize}}{% endif %}</li>
            {% if event.competition.teamCategories|length > 0 %}
              <li class="mb-1"><i class="fas fa-swimmer"></i>
                {% for category in event.competition.teamCategories %}<span class="mr-1">{{category.abbr}}</span>{% endfor %}
              </li>
            {% elseif event.competition.teams|length > 0%}
              <li class="mb-1"><i class="fas fa-swimmer"></i>
                {% for team in event.competition.teams %}<span class="pr-1">{{team.abbr}}</span>{% endfor %}
              </li>
            {% endif %}
            {% if event.competition.restrictions %}
              <li class="mb-1 text-danger"><i class="fas fa-exclamation-triangle"></i> limieten</li>
            {% endif %}
            {% if event.competition.multiDay %}
              <li class="mb-1 text-warning"><i class="fas fa-info-circle"></i> overnachting</li>
            {% endif %}
            {% if event.competition.preprogram is not null or event.competition.program is not null or event.competition.results is not null%}
              <li class="mb-1"><i class="fas fa-trophy"></i>
              {% if event.competition.preprogram is not null %}
                <a href="{{ vich_uploader_asset(event.competition, 'preprogramFile') }}" class="pr-2">Voorprogramma</a>
              {% endif %}
              {% if event.competition.program is not null %}
                <a href="{{ vich_uploader_asset(event.competition, 'programFile') }}" class="pr-2">Programma</a>
              {% endif %}
              {% if event.competition.results is not null %}
                <a href="{{ vich_uploader_asset(event.competition, 'resultsFile') }}" class="pr-2">Uitslag</a>
              {% endif %}
              </li>
            {% endif %}
          {% endif %}
        </ul>

      </div>

    </div>

    {{ event.body|raw }}

    {% if event.image is not empty %}
        <p><img src="{{ vich_uploader_asset(event, 'imageFile') }}" class="img-fluid rounded fade-in"></p>
    {% endif %}

  </div>

{% endblock %}
