{% extends 'default.html.twig' %}

{% set event = page.calendar_event %}
{% set past  = date(event.trueEndTime) < date() %}

{% block title %}{{event.title|capitalize}}{% endblock %}


{% block main %}

  <h4 class="m-3 ml-md-0"><i class="far fa-calendar-alt"></i> Kalender <span class="text-muted"> / {{event.category}}</span></h4>

  <div class="p-3 mb-4 {% if event.cancelled %}alert-danger{% else %}bg-white{% endif %} shadow-sm">

    <div class="media align-top pt-2 cal-{{event.category.sequence}}">

      <span class="badge badge-dark mr-3 cal cal-md cal-{{event.category.sequence}}">{{event.startTime|date('d')}}<br>{{event.startTime|localizeddate('none', 'none', null, null, 'LLL')|trim('.')}}</span>

      <div class="media-body lh-125">

        {% if event.cancelled %}
          <h5 class="pb-0 mb-1 d-flex justify-content-between">{{event.title|title}}<small><span class="badge badge-danger">Geannuleerd</span></small></h5>
        {% else %}
          <h5 class="pb-0 mb-1">{{event.title|title}}</h5>
        {% endif %}

        <h6 class="d-flex justify-content-between mb-2">{{event.getFormattedPeriod|lower}}</h6>

        <ul class="list-unstyled {% if not event.cancelled %}text-muted{% endif %} small cal">
          {% if event.competition is empty %}
            {% if event.location %}<li class="mb-1"><i class="fas fa-map-marked-alt"></i> {{event.location|capitalize}}</li>{% endif %}
          {% else %}
            <li class="mb-1"><i class="fas fa-swimming-pool"></i> {{event.competition.pool}}{% if event.location %}, {{event.location|capitalize}}{% endif %}</li>
            {% if event.competition.teamCategories|length > 0 %}
              <li class="mb-1"><i class="fas fa-swimmer"></i>
                {% for category in event.competition.teamCategories %}<span class="mr-1">{{category.abbr}}</span>{% endfor %}
              </li>
            {% elseif event.competition.teams|length > 0%}
              <li class="mb-1"><i class="fas fa-swimmer"></i>
                {% for team in event.competition.teams %}<span class="pr-1">{{team.abbr}}</span>{% endfor %}
              </li>
            {% endif %}
            {% if event.competition.restrictions %}
              <li class="mb-1 text-danger"><i class="fas fa-exclamation-triangle"></i> limieten</li>
            {% endif %}
            {% if event.competition.multiDay %}
              <li class="mb-1 text-warning"><i class="fas fa-info-circle"></i> overnachting</li>
            {% endif %}
          {% endif %}
        </ul>

        {% if event.body is not empty %}
          <div class="mt-3 mt-md-4">{{ event.body|raw }}</div>
        {% endif %}

        {% if event.competition is empty %}
          {% if event.document is not empty %}
            <p class="text-center text-md-left">
              <a href="{{ vich_uploader_asset(event, 'documentFile') }}" class="btn btn-sm btn-outline-hozt mr-2"><i class="fas fa-file-pdf"></i> bijlage</a>
            </p>
          {% endif %}
        {% else %}
          {% if event.document is not empty or event.competition.preprogram is not empty or event.competition.program is not empty or event.competition.results is not empty %}
            <p class="text-center text-md-left">
              {% if event.document is not empty %}
                <a href="{{ vich_uploader_asset(event, 'documentFile') }}" class="btn btn-sm btn-outline-hozt mr-2"><i class="fas fa-file-pdf"></i> bijlage</a>
              {% endif %}
              {% if event.competition.preprogram is not empty %}
                <a href="{{ vich_uploader_asset(event.competition, 'preprogramFile') }}" class="btn btn-sm btn-outline-hozt mr-2"><i class="fas fa-file-pdf"></i> Voorprogramma</a>
              {% endif %}
              {% if event.competition.program is not empty %}
                <a href="{{ vich_uploader_asset(event.competition, 'programFile') }}" class="btn btn-sm btn-outline-hozt mr-2"><i class="fas fa-file-pdf"></i> Programma</a>
              {% endif %}
              {% if event.competition.results is not empty %}
                <a href="{{ vich_uploader_asset(event.competition, 'resultsFile') }}" class="btn btn-sm btn-outline-hozt mr-2"><i class="fas fa-file-pdf"></i> Uitslag</a>
              {% endif %}
            </p>
          {% endif %}

        {% endif %}

        {% if event.image is not empty %}
          <p class="mt-3"><img src="{{ vich_uploader_asset(event, 'imageFile') }}" class="img-fluid rounded fade-in"></p>
        {% endif %}

      </div>

    </div>

  </div>

  {% if page.calendar_posts is not empty %}

    <h5 class="m-3 ml-md-0"><i class="far fa-newspaper"></i> Gerelateerde nieuwsberichten</h5>
    {% for item in page.calendar_posts %}
      {% include 'page/item.min.html.twig' with {'item': item } %}
    {% endfor %}

  {% endif %}

{% endblock %}
