{% extends '_main.html.twig' %}

{% block title %}Wachtwoord aanvragen{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/security.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}

    {{ form_start(form, {attr: {class: 'needs-validation form-signin text-center'} }) }}

      <img class="mb-4" src="{{ asset('assets/img/logo/Hozt.svg') }}" alt="" height="100">

      {% include 'modules/alerts.html.twig' %}

      <h1 class="h3 mb-3 font-weight-normal">Wachtwoord vergeten?</h1>
      {{ form_widget(form) }}

      <button class="btn btn-lg btn-hozt btn-block mt-3" type="submit">Wachtwoord aanvragen</button>

    {{ form_end(form) }}

<!--
    <form class="form-signin text-center" method="post">
      <img class="mb-4" src="{{ asset('assets/img/logo/Hozt.svg') }}" alt="" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Wachtwoord vergeten?</h1>
      <label for="inputEmail" class="sr-only">Email adres</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
      >
      <button class="btn btn-lg btn-hozt btn-block mt-3" type="submit">Wachtwoord aanvragen</button>
    </form>
-->

{% endblock %}
