{% extends 'default.html.twig' %}


{% set event = page.event %}

{% block title %}Ingeschreven - {{event.title|ucfirst}}{% endblock %}

{% block main %}


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb border-none rounded-0 mb-0 smaller">
      <li class="breadcrumb-item"><a href="{{path('enrolment_list')}}">Inschrijven</a></li>
      <li class="breadcrumb-item active">{{event.title}}</li>
    </ol>
  </nav>

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h1 class="text-primary mb-4">{{event.title|ucfirst}} <small class="text-medium">inschrijvingen</small></h1>

    <p class="mt-2">Inschrijven kan tot {{ event.enrolBefore|localizeddate('long','short') }}.</p>

    <h3>Overzicht</h3>
    <dl class="row mx-md-3 mx-lg-4">
    <h6 class="col-12 mb-1">Totaal</h6>
      <dt class="col-sm-3 text-md-right">Personen</dt>
      <dt class="col-4 text-right">{{event.totalNumberOfPersons}}</dt>
      <dt class="col-5 text-right">€ {{event.totalPrice|number_format(2, ',', '.')}}</dt>
    {% set cat = event.inputs.first.category %}
    <h6 class="col-12 mb-1 mt-3">{{cat.name}}</h6>
    {% for input in event.inputs %}
      {% if input.category != cat %}
        {% set cat = input.category %}
        <h6 class="col-12 mb-1 mt-3">{{cat.name}}</h6>
      {% endif %}
      <dt class="col-sm-3 text-md-right">{{input.name}}</dt>
      <dd class="col-4 text-right">{{input.totalNumber}}</dd>
      <dd class="col-5 text-right">{% if input.hasUnitPrice %}€ {{input.totalPrice|number_format(2, ',', '.')}}{% endif %}</dd>
    {% endfor %}
    </dl>

    <h3>Inschrijvingen</h3>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naam</th>
            <th scope="col">Tijdstip</th>
            <th scope="col">Personen</th>
            <th scope="col">Bedrag</th>
            <th scope="col">Betaald</th>
            {% for input in event.inputs %}
            <th scope="col">{{input.name}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for e in event.enrolments %}
          <tr>
            <th scope="col">{{e.id}}</th>
            <td>{{e.name}}</td>
            <td>{{e.enrolledAt|localizeddate('short','short')}}</td>
            <td>{{e.numberofpersons}}</td>
            <td>{{e.totalPrice|number_format(2, ',', '.')}}</td>
            <td>{%if e.paid%}<i class="fas fa-check text-success"></i>{%else%}<i class="fas fa-times text-danger"></i>{%endif%}</td>
            {% for i in e.parseinputdata().event.inputs %}
            <td>{{i.number}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>


{% endblock %}
