{% extends 'default.html.twig' %}

{% block title %}Sportsecretariaat{% endblock %}

{% block main %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb border-none rounded-0 mb-0 smaller">
      <li class="breadcrumb-item"><a href="{{path('sportadmin')}}">Sportsecretariaat</a></li>
      <li class="breadcrumb-item active" aria-current="page">Wedstrijden</li>
    </ol>
  </nav>

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h2 class="text-primary d-flex justify-content-between mb-2">Wedstrijden</h2>

    <div class="row">
      <div class="col-12 col-md-3">
        <div class="nav flex-column nav-pills bg-light" id="competitions-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="competitions-upcoming-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="false">Aanstaande</a>
          <a class="nav-link" id="competitions-new-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="false">Nieuw <span class="badge badge-light"></span></a>
          <a class="nav-link" id="competitions-all-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="true">Dit seizoen</a>
          <a class="nav-link" id="competitions-archive-tab" data-toggle="pill" href="#competitions-archive" role="tab" aria-controls="competitions-archive" aria-selected="false">Archief</a>
        </div>
      </div>

      <div class="col-12 col-md-9 mt-3 mt-lg-0">
        <div class="tab-content" id="competitions-tabContent">

          <div class="tab-pane fade show active" id="competitions" role="tabpanel" aria-labelledby="competitions-upcoming-tab">
          {% for competition in page.competitions %}
            {% if not loop.first %}
            <hr class="pb-2 mt-2">
            {% endif %}
            {% set edit = competition.enrolbefore > date() %}
            {% set past = competition.calendar.calcendtime < date() %}
            <div class="competition{%if past%} competition-past{%endif%} {%if not edit%}competition-locked{%endif%} mb-1">
              <h5 class="d-flex mb-1 justify-content-between">
                <a href="{{ path('sportadmin_competition', {'id': competition.id}) }}" class="text-primary">
                  {{competition.calendar.title}} <small class="badge badge-medium align-text-bottom">{{competition.organization}}</small> 
                </a>
                <small>
                {% if competition.hasEnabledCompetitionParts%}
                  {%if edit%}<span class="badge badge-success align-text-bottom">open</span>{%else%}<span class="badge badge-danger align-text-bottom">gesloten</span>{%endif%}
                {% else %}
                  <span class="badge badge-warning align-text-bottom">niet actief</span>
                {% endif %}
                </small>
              </h5>
              <h6 class="mb-1">
                  {{competition.calendar.formattedPeriod}}
              </h6>
              <ul class="list-unstyled cal-small small font-weight-lighter">
                <li class="list-unstyled-item mb-1"><i class="fas fa-swimmer"></i> {%for team in competition.teams%}{{team.abbr}}&nbsp;&nbsp;{%endfor%}</li>
                <li class="list-unstyled-item mb-1"><i class="fas fa-edit"></i> Aan- en afmelden voor {{competition.enrolBefore|localizeddate('medium','none')}}</li>
                <li class="list-unstyled-item mb-1"><i class="fas fa-stream"></i> Dagdelen (#{{competition.enabledcompetitionparts|length}})</li>
              </ul>
            </div>
          {% endfor %}
          </div>

          <div class="tab-pane fade" id="competitions-archive" role="tabpanel" aria-labelledby="competitions-archive-tab">
            Hier komen alle wedstrijden van alle seizoenen...
          </div>

        </div>
      </div>

    </div>

  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# encore_entry_script_tags('sportadmin_competition') #}
{% endblock %}
