{% extends 'default.html.twig' %}

{% block title %}Sportsecretariaat{% endblock %}

{% block main %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb border-none rounded-0 mb-0 smaller">
      <li class="breadcrumb-item"><a href="{{path('sportadmin')}}">Sportsecretariaat</a></li>
      <li class="breadcrumb-item active" aria-current="page">Wedstrijden</li>
    </ol>
  </nav>

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h2 class="text-primary d-flex justify-content-between mb-2">Wedstrijden</h2>

    <div class="row">
      <div class="col-12 col-md-3">
        <div class="nav flex-column nav-pills" id="competitions-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="competitions-upcoming-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="false">Aanstaande</a>
          <a class="nav-link" id="competitions-new-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="false">Nieuw <span class="badge badge-light"></span></a>
          <a class="nav-link" id="competitions-all-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="true">Dit seizoen</a>
          <a class="nav-link" id="competitions-archive-tab" data-toggle="pill" href="#competitions-archive" role="tab" aria-controls="competitions-archive" aria-selected="false">Archief</a>
        </div>
      </div>

      <div class="col-12 col-md-9 mt-3 mt-md-0 mx-2 mx-md-0">
        <div class="tab-content" id="competitions-tabContent">
          <div class="tab-pane fade show active" id="competitions" role="tabpanel" aria-labelledby="competitions-upcoming-tab">

            <div class="table-responsive">
              <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col" class="text-right">Datum/locatie</th>
                  </tr>
                </thead>
                <tbody>
                {% for competition in page.competitions %}
                  {% set edit = competition.enrolbefore > date() %}
                  {% set past = competition.calendar.calcendtime < date() %}
                  <tr class="competition{%if past%} competition-past{%endif%} {%if not edit%}competition-locked{%endif%}">
                    <th scope="row" class="" colspan=1>

            <div class="row text-left w-100 p-0 m-0 align-items-center">
              <div class="col-lg-4 pl-0"><small class="text-muted"><i class="fas fa-edit"></i> voor {{competition.enrolBefore|localizeddate('medium','none')}}</small></div>
              <div class="col-lg-8 text-lg-right px-0"><a href="{{ path('sportadmin_competition', {'id': competition.id}) }}" class="text-primary">{{competition.calendar.title}} • {{competition.organization}} • {{competition.location}}</a> <a href="{{ path('calendar_event', {'uuid': competition.calendar.uuid}) }}" target="_Blank" class="text-primary"><i class="fas fa-external-link-alt ml-2"></i></a></div>
            </div>


                    </th>
                  </tr>
                  {% for cpart in competition.competitionParts %}
                  <tr class="competition {%if cpart.hasnewenrolments(app.user) and edit%}competition-new {%endif%}{%if past%}competition-past {%endif%} {%if not edit%}text-muted competition-locked{%endif%}">
                    <td scope="row" class="text-right">{{cpart.daypart|localizeddate('full','none')}} | {{cpart.partname|trans}}</td>
                  </tr>
                  {% endfor %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane fade" id="competitions-archive" role="tabpanel" aria-labelledby="competitions-archive-tab">
            Hier komen alle wedstrijden van alle seizoenen...
          </div>

        </div>

      </div>

    </div>

  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# encore_entry_script_tags('sportadmin_competition') #}
{% endblock %}
