{% extends 'default.html.twig' %}

{% block title %}Sportsecretariaat{% endblock %}

{% block main %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb border-none rounded-0 mb-0 smaller">
      <li class="breadcrumb-item"><a href="{{path('sportadmin')}}">Sportsecretariaat</a></li>
      <li class="breadcrumb-item active" aria-current="page">Wedstrijden</li>
    </ol>
  </nav>

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h2 class="text-primary d-flex justify-content-between mb-2">Wedstrijden</h2>

    <div class="row">
      <div class="col-12 col-md-3">
        <div class="nav flex-column nav-pills" id="competitions-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="competitions-upcoming-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="false">Aanstaande</a>
          <a class="nav-link" id="competitions-new-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="false">Nieuw <span class="badge badge-light"></span></a>
          <a class="nav-link" id="competitions-all-tab" data-toggle="pill" href="#competitions" role="tab" aria-controls="competitions" aria-selected="true">Dit seizoen</a>
          <a class="nav-link" id="competitions-archive-tab" data-toggle="pill" href="#competitions-archive" role="tab" aria-controls="competitions-archive" aria-selected="false">Archief</a>
        </div>
      </div>

      <div class="col-12 col-md-9 mt-3 mt-md-0 mx-2 mx-md-0">
        <div class="tab-content" id="competitions-tabContent">

          <div class="tab-pane fade show active" id="competitions" role="tabpanel" aria-labelledby="competitions-upcoming-tab">
          {% for competition in page.competitions %}
            {% if not loop.first %}
            <hr class="pb-2 mt-2">
            {% endif %}
            {% set edit = competition.enrolbefore > date() %}
            {% set past = competition.calendar.calcendtime < date() %}
            <div class="row competition{%if past%} competition-past{%endif%} {%if not edit%}competition-locked{%endif%} mb-1">
              <div class="col-12">
                <h5 class="mb-1">
                  <a href="{{ path('sportadmin_competition', {'id': competition.id}) }}" class="text-primary">
                    {{competition.calendar.title}} • {{competition.organization}} • {{competition.location}}
                  </a>
                </h5>
                <h6 class="mb-1">
                    {{competition.calendar.formattedPeriod}}
                </h6>
              </div>
              <div class="col-12">
              {% if competition.hasEnabledCompetitionParts%}
                {%if edit%}<span class="badge badge-success">open</span>{%else%}<span class="badge badge-danger">gesloten</span>{%endif%}
              {% else %}
                <span class="badge badge-warning">niet actief</span>
              {% endif %}
                <small class="text-muted ml-2">
                  <i class="fas fa-edit"></i> voor {{competition.enrolBefore|localizeddate('medium','none')}}
                </small>
              </div>
              <div class="col-12">
                {%for team in competition.teams%}<span class="badge badge-medium mr-2">{{team.abbr}}</span>{%endfor%}
              </div>
              <div class="col-12 smaller mt-1">
                <ul class="list-unstyled">
                {% for cpart in competition.competitionParts %}
                  <li class="list-unstyled-item {% if not cpart.enabled%}text-muted{%endif%}">{{cpart.daypart|localizeddate('full','none')}} | {{cpart.partname|trans}}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
          </div>

          <div class="tab-pane fade" id="competitions-archive" role="tabpanel" aria-labelledby="competitions-archive-tab">
            Hier komen alle wedstrijden van alle seizoenen...
          </div>

        </div>
      </div>

    </div>

  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# encore_entry_script_tags('sportadmin_competition') #}
{% endblock %}
