{% extends 'default.html.twig' %}

{% block title %}Sportsecretariaat{% endblock %}

{% block main %}

  {% set competition = page.competition %}
  {% set name = "%s • %s • %s"|format(competition.calendar.title, competition.organization, competition.location) %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb border-none rounded-0 mb-0 smaller">
      <li class="breadcrumb-item"><a href="{{path('sportadmin')}}">Sportsecretariaat</a></li>
      <li class="breadcrumb-item"><a href="{{path('sportadmin_competitions')}}">Wedstrijden</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
    </ol>
  </nav>

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h2 class="text-primary d-flex justify-content-between mb-2">{{name}}</h2>


  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# encore_entry_script_tags('management_competitions') #}
{% endblock %}
