{% extends 'default.html.twig' %}

{% block title %}Sponsors{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h2 class="text-red">Sponsors</h2>

     <p><img src="{{ asset('assets/img/contact/sponsors.jpg') }}" class="img-fluid rounded fade-in"></p>

     {% for category in page.sponsor_categories %}

       <h3 class="mt-4">{{category.title}}</h3>

       {% if category.core %}

         <div class="row justify-content-around text-center pt-2 pt-md-3">
         {% for sponsor in category.sponsors %}
           <div class="{{category.class}}" {% if sponsor.url is not empty %}style="cursor: pointer;" onclick="window.open('{{sponsor.url}}','_blank');"{% endif %}>
            {% if sponsor.image is not empty %}
              <img src="{{ vich_uploader_asset(sponsor, 'imageFile') }}" class="mx-auto img-fluid" alt="{{sponsor.name}}" />
            {% endif %}
            {{sponsor.caption}}
           </div>
         {% endfor %}
         </div>

       {% else %}

         <ul class="list-unstyled">
         {% for sponsor in category.sponsors %}
           <li>{{sponsor.name}} {% if sponsor.url is not empty%}<a href="{{sponsor.url}}" class="text-default"><i class="fas fa-link"></i></a>{%endif%}</li>
         {% endfor %}
         </ul>

       {% endif %}

     {% endfor %}

    <h2 class="mt-5">Sponsoren?</h2>

    <p>De sponsorscontracten liggen vast voor de periode van 1 januari 2017 tot en met 31 december 2019. Wil je HoZT tussentijds sponsoren op activiteiten of wedstrijden? Neem dan <a href="/contact">contact</a> op.</p>

  </div>

{% endblock %}
