{% extends 'default.html.twig' %}

{% block title %}Sponsors{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h2 class="text-primary">HoZT dankt zijn sponsors</h2>

     {% for category in page.sponsor_categories %}

       <h3 class="mt-4">{{category.title}}</h3>

       {% if category.core %}

         <div class="row justify-content-around text-center pt-2 pt-md-3">
         {% for sponsor in category.sponsors %}
           <div class="{{category.class}} py-2 py-lg-3" {% if sponsor.url %}style="cursor: pointer;" onclick="window.open('{{sponsor.url}}','_blank');"{% endif %}>
            {% if sponsor.image %}
              <img src="{{ vich_uploader_asset(sponsor, 'imageFile') }}" class="mx-auto img-fluid" alt="{{sponsor.name}}" />
            {% endif %}
            {% if sponsor.caption %}<br><h5 class="pt-2 pt-lg-3">{{sponsor.caption}}</h5>{% endif %}
           </div>
         {% endfor %}
         </div>

       {% else %}

         <ul class="list-unstyled">
         {% for sponsor in category.sponsors %}
           <li>{{sponsor.name}} {% if sponsor.url %}<a href="{{sponsor.url}}" class="text-default"><i class="fas fa-link"></i></a>{%endif%}</li>
         {% endfor %}
         </ul>

       {% endif %}

     {% endfor %}

    <h2 class="mt-5">Sponsoren?</h2>

    <p>De sponsorscontracten liggen vast voor een periode van één tot drie jaar. Wil je HoZT tussentijds sponsoren op activiteiten of wedstrijden? Neem dan <a href="/contact">contact</a> op met onze <a href="/bestuur">penningmeester</a>.</p>

  </div>

{% endblock %}
