{% extends 'default.html.twig' %}

{% block title %}Testmomenten{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h1 class="text-primary">Testmomenten</h1>

    {% if page.tryouts|length > 0 %}

      <p class="text-muted mt-3 mt-md-4 d-print-none"><i class="fas fa-info-circle"></i> klik op een kolom titel om te sorteren <i class="fas fa-sort"></i></p>

      <ul class="list-group list-group-flush mt-3">
      {% for tryout in page.tryouts %}
        <li class="list-group-item pl-0 pl-md-3 pr-0 pr-md-3 {% if tryout.enrolFrom > date() %}d-print-none{% endif %}">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="mb-1">{{ tryout.startTime|localizeddate('full','none') }}<br> van {{ tryout.startTime|localizeddate('none','short') }} tot {{ tryout.endTime|localizeddate('none','short') }}</h5>
            <span class="pl-1 text-right">
              {% if tryout.enrolFrom > date() %}
                <small class="text-muted">inschrijven vanaf {{ tryout.enrolFrom|localizeddate('medium','none')}}</small>
              {% else %}
                <small>beschikbare plaatsen:</small> <span class="badge badge-primary badge-pill">{{ tryout.remainingEnrolments }}</span><br>
                <small>inschrijven tot {{ tryout.enrolUntil|localizeddate('medium','short')}}</small>
              {% endif %}
            </span>
          </div>
          {% if tryout.nofEnrolments>0 %}
            <div class="table-responsive" id="api_load_tryout_enrolled_{{tryout.uuid}}">
              <div class="d-flex justify-content-center">
                <div class="spinner-border m-5" role="status" >
                  <span class="sr-only">Laden...</span>
                </div>
              </div>
            </div>
            <p class="text-right small d-print-none">
              {% if tryout.reminderSent %}
              reminder verzonden {{tryout.reminderSentAt|localizeddate('medium','short')}}
              {% else %}
              <button class="btn btn-sm btn-secondary" {%if date() < tryout.enrolUntil or date() > tryout.startTime %}disabled{%endif%}><i class="fas fa-paper-plane"></i> reminder</button>
              {% endif %}
            </p>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

  </div>


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('tryout_enrolled') }}
{% endblock %}
