{% if enrolments|length > 0 %}
  <table class="table table-sm table-borderless table-hover mt-2" id="{{uuid}}">
    <!--<caption>Inschrijvingen</caption>-->
    <thead>
      <tr>
        <th scope="col" id="sort_{{uuid}}_id">#</th>
        <th scope="col" id="sort_{{uuid}}_firstname">Voornaam</th>
        <th scope="col" id="sort_{{uuid}}_lastname">Naam</th>
        <th scope="col" id="sort_{{uuid}}_year">Geb.jaar</th>
        <th scope="col" id="sort_{{uuid}}_address">Postcode</th>
        <th scope="col" id="sort_{{uuid}}_team">Groep</th>
        <th scope="col" id="sort_{{uuid}}_enrolled">Ingeschreven</th>
        <th scope="col" id="sort_{{uuid}}_withdrawn">Afgemeld</th>
      </tr>
    </thead>
    <tbody>
      {% set i=0 %}
      {% for enrol in enrolments %}
      <tr class="{%if enrol.withdrawn %}line-through text-muted withdrawn{%endif%}">
        <td><strong>{% if not enrol.withdrawn %}{% set i = i + 1 %}{{i}}{% endif %}</strong></td>
        <td>{{enrol.firstname|title}}</td>
        <td>{{enrol.lastname|title}}</td>
        <td>{{enrol.birthdate|date('Y')}}</td>
        <td>{{enrol.address}}</td>
        <td>{{enrol.category}}</td>
        <td class="small">{{enrol.enrolledAt|localizeddate('short','short')}}</td>
        <td class="small">
          {% if enrol.withdrawn %} {{enrol.withdrawnAt|localizeddate('short','short')}} {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
