{% extends 'default.html.twig' %}

{% block title %}Testmomenten{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h1 class="text-primary">Testmomenten</h1>

    {% include 'tryout/description.html.twig' with {'disabled_teams': page.disabled_teams } %} 

    <p>Onze testmomenten vinden plaats in het <a href="/zwembad">zwembad Sportoase Stede Akkers Hoogstraten</a>.</p>

    <h4 class="mt-5">Overzicht testmomenten</h4>

    {% if page.tryouts is defined %}

      <ul class="list-group list-group-flush mt-3">
      {% for tryout in page.tryouts %}
        <li class="list-group-item pl-0 pl-md-3 pr-0 pr-md-3 d-flex justify-content-between align-items-center">
          {{ tryout.startTime|localizeddate('full','none') }}<br> van {{ tryout.startTime|localizeddate('none','short') }} tot {{ tryout.endTime|localizeddate('none','short') }}
          <span class="pl-1 text-right">
            {% if tryout.enrolFrom > date() %}
              <small class="text-muted">inschrijven vanaf {{ tryout.enrolFrom|localizeddate('medium','none')}}</small>
            {% else %}
              <small>beschikbare plaatsen:</small> <span class="badge badge-primary badge-pill">{{ tryout.remainingEnrolments }}</span><br>
              <small>inschrijven tot {{ tryout.enrolUntil|localizeddate('medium','short')}}</small>
            {% endif %}
          </span>
        </li>
      {% endfor %}
      </ul>

    {% else %}

      <p><strong><i class="fas fa-exclamation-triangle"></i> Er zijn op dit moment helaas geen testmomenten waarvoor je kan inschrijven.</strong></p>

    {% endif %}

    {% if page.form is defined %}

    <div class="row mt-5">
      <div class="col col-12 col-md-10 col-lg-8">

      <h4>Inschrijven voor een testmoment</h4>

    {{ form_start(page.form, {attr: {class: 'needs-validation'} }) }}
    {{ form_widget(page.form) }}
    {{ form_end(page.form) }}

      </div>
    </div>

    <p>Je ontvangt direct een bevestigingsmail van deze inschrijving. Enkele dagen voor het testmoment krijg je nog een herinneringsmail.</p>

    {% endif %}

  </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('form_extended') }}
{% endblock %}
