{# templates/emails/clubfeest.html.twig #}

{% include 'emails/_style.html.twig' %}

<p class="text-hozt"><strong>HoZT {{event.title|ucfirst}}</strong></p>

<p>Hallo {{enrol.name}},</p>

<p>We hebben je inschrijving voor het HoZT {{event.title}} goed ontvangen.</p>

<p>Aantal -12 jaar: <b>{{enrol.children}}</b><br>Aantal 12 jaar en ouder: <b>{{enrol.adults}}</b></p>

{% if enrol.message is not empty %}
<p><b>Je bericht:</b><br>{{enrol.message}}</p>
{% endif %}

<p>We verwachten je {{event.getFormattedPeriod()}} in {{event.location}}.</p>

<p>Alle info over het {{event.title|ucfirst}} kan je terug vinden op <a href="https://www.hozt.be{{ path('calendar_event', {'uuid': event.uuid}) }}">HoZT.be{{ path('calendar_event', {'uuid': event.uuid}) }}</a></p>

<p class="small text-muted">** Dit is een automatisch bericht van <a href="https://www.hozt.be{{ path('enrol_clubfeest') }}">HoZT.be{{ path('enrol_clubfeest') }}</a> **</p>
