{# templates/emails/contactformulier.html.twig #}

{% include 'emails/_style.html.twig' %}

<p class="text-hozt"><strong>{{question}}:</strong></p>

<p>{{ message }}</p>

<p>{{ name }}<br>{{ email }}</p>

<p class="small text-muted">** Dit is een automatisch bericht van <a href="https://www.hozt.be{{ path('contact_form') }}">HoZT.be{{ path('contact_form') }}</a> **</p>
