<!-- CAROUSEL
================================================== -->
<div id="HoZTCarousel" class="carousel slide carousel-fade banner banner-bg banner-lg fade-in" data-ride="carousel">
  {% if carousel|length > 1 %}
    <!--<ol class="carousel-indicators d-none d-md-flex">-->
    <ol class="carousel-indicators">
    {% for slide in carousel %}
      <li data-target="#HoZTCarousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0%}active{% endif%}"></li>
    {% endfor %}
    </ol>
  {% endif %}
  <div class="carousel-inner">
  {% for slide in carousel %}
    <div class="carousel-item {% if loop.index0 == 0%}active{% endif%}">

      {% if slide.image is not empty%}
        <img src="{{ vich_uploader_asset(slide, 'imageFile') }}">
      {% endif %}

      <div class="container {% if slide.overlay %}overlay{% endif %}">
        <div class="carousel-caption lead">

          {% if slide.showTitle %}<h1>{{ slide.title|ucfirst }}</h1>{% endif %}
          {{ slide.body|raw }}

          {% if slide.url is not empty or slide.event is not empty %}
            <p class="text-center">

              {% set btn1 = 'btn btn-gold' %}
              {% set btn2 = 'btn btn-hozt' %}

              {% if slide.url is not empty %}
                <a href="{{ slide.url }}" class="{{btn2}} mr-2"><i class="fas fa-info"></i></a>
              {% endif %}

              {% if slide.event is not empty %}

                <a href="{{ path('calendar_event', {'uuid': slide.event.uuid}) }}" class="{{btn1}} mr-2"><i class="far fa-calendar-alt"></i></a>

                {% set comp = slide.event.competition %}

                {% if comp is not empty %}

                  {% if slide.publishAt < slide.event.startTime|date_modify('midnight') %}

                    {% for doc in comp.documentsBySlug('info') %}
                      <a class="{{btn1}}" href="{% if doc.document is not empty %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
                    {% endfor %}

                    {% if comp.documentsContainSlug('programma') %}

                      {% for doc in comp.documentsBySlug('programma') %}
                        <a class="{{btn1}}" href="{% if doc.document is not empty %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
                      {% endfor %}

                    {% else %}

                      {% for doc in comp.documentsBySlug('voorprogramma') %}
                        <a class="{{btn1}}" href="{% if doc.document is not empty %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
                      {% endfor %}

                    {% endif %}

                  {% else %}

                    {% for doc in comp.documentsBySlug('uitslag') %}
                      <a class="{{btn1}}" href="{% if doc.document is not empty %}{{vich_uploader_asset(doc,'documentFile')}}{% else %}{{doc.url}}{% endif %}"><i class="fas fa-file-pdf"></i> {{doc.category}} {{doc.description}}</a>
                    {% endfor %}

                  {% endif %}

                {% endif %}

              {% endif %}
            </p>
          {% endif %}

        </div>
      </div>
    </div><!-- carousel item -->
  {% endfor %}
  </div><!-- carousel inner -->
</div>
