<footer class="container mt-2 mt-md-3 d-print-none">
  <div class="row justify-content-around text-center pt-2 pt-md-3">
    {% for sponsor in base.sponsors %} 
      <div class="sponsor col col-4 col-md-3 col-lg-2" {% if sponsor.url is not empty %}onclick="window.open('{{sponsor.url}}','_blank');"{%endif%}>
        {% if sponsor.image is not empty %}
          <img src="{{ vich_uploader_asset(sponsor, 'imageFile') }}" class="mx-auto img-fluid" alt="{{sponsor.name}}">
        {% endif %}
        {{sponsor.caption}}
      </div>
    {% endfor %}
  </div>
</footer>

<footer class="bg-secondary pb-4 pt-4 text-dark d-print-none text-center text-md-left">
<div class="container">
  <h4 class="text-primary"># We are red and gold</h4>
  <div class="row">
    <div class="col-12 col-md mt-4 mt-md-3 mb-4">
      <img class="mb-2" src="{{ asset('assets/img/logo/Hozt.svg') }}" alt="" height="40">
      <address class="text-primary">
        <span>Hoogstratens Zwem Team vzw</span><br>
        <small>
          Achtelsestraat 76A, 2320 Hoogstraten<br>
          <abbr title="Bankrekening">B:</abbr> <span>BE88&nbsp;0689&nbsp;0449&nbsp;7341<br>
          <abbr title="Ondernemingsnummer">O:</abbr> BE0644.916.871
        </small>
      </address>
    </div>
    {% include 'modules/menu.html.twig' %}
  </div>
</div>
</footer>

<div class="bg-primary d-print-none">
  <div class="nav-scroller container mt-0">
    <nav class="nav nav-underline">
      <a class="nav-link" href="javascript:;"><i class="fas fa-copyright"></i> 2016-{{ "now"|date("Y") }}</a>
      <a class="nav-link" href="/huishoudelijk-reglement">Huishoudelijk Reglement</a>
      <a class="nav-link" href="/privacy">Privacy</a>
      <a class="nav-link" href="https://www.steps4it.be" style="color: rgba(0,0,0,.5);"><i class="fas fa-code"></i> STEPS4it</a>
    </nav>
  </div>
</div>
