{% extends '_main.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block nav %}

<!-- NAVHEADER
================================================== -->
<div class="bg-white collapse fixed-top shadow-sm nav-header" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4 text-muted">
        <div class="d-flex justify-content-between w-100">
          <h4 class="text-red">Hoogstratens Zwem Team</h4>
          <a href="#" class="d-md-none" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><i class="far fa-times"></i></a>
        </div>

        <blockquote class="blockquote">
          <p class="mb-0">Dé zwemploeg van Hoogstraten en omstreken!</p>
          <footer class="blockquote-footer">Sinds <cite>2016</cite></footer>
        </blockquote>
        <div class="row lead">
          <div class="col-sm-12 col-md-3"><span class="badge badge-dark" id="count-groepen">9</span> groepen</div>
          <div class="col-sm-12 col-md-3"><span class="badge badge-dark" id="count-trainers">10</span> trainers</div>
          <div class="col-sm-12 col-md-4"><span class="badge badge-dark" id="count-zwemmers">114</span> zwemmers</div>
        </div>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <div class="d-flex justify-content-between w-100">
          <h4 class="text-red">Contact</h4>
          <a href="#" class="d-none d-md-block" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><i class="far fa-times"></i></a>
        </div>
        <p class="small">Heb je iemand van HoZT nodig? Ons <a href="/bestuur" class="text-red">bestuur</a> helpt je graag verder. Alles over de bereikbaarheid (adres, parking) van het zwembad vind je <a href="/zwembad" class="text-red">hier</a> terug.<br/>
<span style="display:none;">Wil je een gratis testmoment bijwonen? Schrijf je dan <a href="/lid-worden">hier</a> in.</span>
Onze <a href="/faq" class="text-red">FAQ</a> al gelezen?</p>
        <p class="small text-muted">Voor alle andere vragen vul je het <a href="/contact" class="text-red">contactformulier</a> in.</p>
      </div>
    </div>
  </div>
</div>


<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white shadow-sm">
  <div class="container">
  <a class="navbar-brand mr-auto mr-lg-0 text-red pr-3" href="#" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><img class="mb-2" src="{{ asset('assets/img/logo/Hozt_sm.png') }}" alt="Hoogstratens Zwem Team" height="40"> <div class="d-none d-md-inline-block">Hoogstratens Zwem Team</div></a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse bg-white" id="navbarOffcanvas">
    <ul class="navbar-nav mr-auto"><!-- container d-flex flex-column flex-md-row justify-content-between -->
      <li class="nav-item {% if currentPath == "/" %}active{% endif%}">
        <a class="nav-link" href="/"><i class="fas fa-swimming-pool"></i> Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if currentPath starts with '/kalender' %}active{% endif%}">
        <a class="nav-link" href="/kalender"><i class="far fa-calendar-alt d-md-none"></i> Kalender</a>
      </li>
<!--      <li class="nav-item <?echo $page->isActive('news');?>">
        <a class="nav-link" href="#"><i class="fas fa-newspaper d-md-none"></i> Nieuws</a>
      </li> -->
      <li class="nav-item {% if currentPath == "/aanbod" %}active{% endif%}">
        <a class="nav-link" href="/aanbod"><i class="fas fa-swimmer d-md-none"></i> Aanbod</a>
      </li>
      <li class="nav-item {% if currentPath == "/lid-worden" %}active{% endif%}">
        <a class="nav-link" href="/lid-worden"><i class="fas fa-hand-point-right d-md-none"></i> Lid worden</a>
      </li>
      <li class="nav-item {% if currentPath starts with '/inschrijvingen' %}active{% endif%}">
        <a class="nav-link btn btn-outline-secondary" href="/inschrijvingen"><i class="fas fa-check d-md-none"></i> Inschrijvingen</a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
      <li class="nav-item {% if currentPath in ['/contact','/faq','/bestuur','/zwembad'] %}active{% endif%}">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" onclick="$('.offcanvas-collapse').toggleClass('open');">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2" href="https://nl-nl.facebook.com/hoogstratensZT/" target="_blank" rel="noopener" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
      </li>
<!--      <li class="nav-item">
        <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      </li>
-->
    </ul>
<!--
        <button class="btn btn-outline-secondary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" type="submit" disabled>Inloggen</button>
-->
  </div>
</div>
</nav>


<!-- NAV-SCROLLER
================================================== -->
<div class="nav-scroller bg-red shadow-sm">
  <nav class="nav nav-underline container">
  {% for category in base.training_team_categories %}
    <a class="nav-link" href="/aanbod/{{ category.slug }}">{{ category.name }}</a>
  {% endfor %}
  </nav>
</div>

{% endblock %}

{% block side %}
  <div id="api_load_module_tyr"></div>
  <div id="api_load_module_training_today"></div>
  <div id="api_load_module_training_tomorrow"></div>
  {% if currentPath starts with '/kalender' %}{% else %}<div id="api_load_module_calendar_upcoming"></div>{% endif %}
{% endblock %}

{% block footer %}
<footer class="container mb-3 mt-3">

  <div class="row justify-content-around text-center pt-2 pt-md-3"> 
    <div class="sponsor col col-4 col-md-3 col-lg-2" onclick="window.open('https://veja.be','_blank');">
      <img class="mx-auto img-fluid" src="{{ asset('assets/img/sponsors/veja.png') }}" alt="Veja">
    </div>
    <div class="sponsor col col-4 col-md-3 col-lg-2" onclick="window.open('http://jorytamadventure.be','_blank');">
      <img class="mx-auto img-fluid" src="{{ asset('assets/img/sponsors/jorytam.jpg') }}" alt="Jorytam">
    </div>
    <div class="sponsor col col-4 col-md-3 col-lg-2" onclick="window.open('http://www.a-tec.be','_blank');">
      <img class="mx-auto img-fluid" src="{{ asset('assets/img/sponsors/atec.jpg') }}" alt="Atec">
    </div>
    <div class="sponsor col col-4 col-md-3 col-lg-2" onclick="window.open('http://www.sgmbvba.be','_blank');">
      <img class="mx-auto img-fluid" src="{{ asset('assets/img/sponsors/sgm.jpg') }}" alt="SGM">
    </div>
    <div class="sponsor col col-4 col-md-3 col-lg-2" onclick="window.open('http://inith-consultancy.com','_blank');">
      <img class="mx-auto img-fluid" src="{{ asset('assets/img/sponsors/inith.png') }}" alt="Inith">
    </div>
    <div class="sponsor col col-4 col-md-3 col-lg-2">
      <img class="mx-auto img-fluid" src="{{ asset('assets/img/sponsors/belfius.png') }}" alt="Belfius"> Bank Hoogstraten
    </div>
  </div><!-- close div row -->

  <div class="row pt-2 pt-md-3">
    <div class="col-12 col-md">
      <img class="mb-2" src="{{ asset('assets/img/logo/Hozt_sm.png') }}" alt="" height="40">
      <p class="d-block mb-3 text-red">Hoogstratens Zwem Team vzw</p>
    </div>
    <div class="col-12 col-md">
      <h5>Aanbod</h5>
      <ul class="list-unstyled text-small">
      {% for category in base.training_team_categories %}
        <li><a class="text-muted" href="/aanbod/{{ category.slug }}">{{ category.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-md">
      <h5>Praktisch</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/lid-worden">Lid worden</a></li>
        <li><a class="text-muted" href="/trainingsuren">Trainingsuren</a></li>
        <li><a class="text-muted" href="/kalender">Kalender</a></li>
        <li><a class="text-muted" href="/clubkledij">Clubkledij</a></li>
<!--    <li><a class="text-muted" href="#">Wedstrijden &amp; uitslagen</a></li> -->
        <li><a class="text-muted" href="/nieuws">Nieuwsberichten</a></li>
<!--    <li><a class="text-muted" href="#">Clubrecords</a></li> -->
        <li><a class="text-muted" href="/inschrijvingen">Inschrijvingen</a></li>
      </ul>
    </div>
    <div class="col-12 col-md">
      <h5>Algemeen</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/trainers">Trainers</a></li>
        <li><a class="text-muted" href="/bestuur">Bestuur</a></li>
        <li><a class="text-muted" href="/vacatures">Vacatures</a></li>
        <li><a class="text-muted" href="/zwembad">Zwembad</a></li>
        <li><a class="text-muted" href="/sponsors">Sponsors</a></li>
        <li><a class="text-muted" href="/gedragsregels">Gedragsregels</a></li>
        <li><a class="text-muted" href="/faq">Veelgestelde vragen</a></li>
        <li><a class="text-muted" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="mt-3 bg-red">
  <div class="nav-scroller container">
    <nav class="nav nav-underline">
      <a class="nav-link" href="#"><i class="fas fa-copyright"></i> 2016-{{ "now"|date("Y") }}</a>
      <a class="nav-link" href="/huishoudelijk-reglement">Huishoudelijke Reglement</a>
      <a class="nav-link" href="/privacy">Privacy</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/js/countUp.js') }}"></script>
  <script src="{{ asset('assets/js/hozt.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_tyr.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_training_today.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_training_tomorrow.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_calendar_upcoming.js') }}"></script>
{% endblock %}
