{% set strategy = 'html' %}
{% set scheduleNotice = [] %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Hoogstratens Zwem Team, de zwemploeg van Hoogstraten en omstreken.">
        <meta name="description" content="Hoogstraten,zwemmen,zwemclub,zwemwedstrijd,zwemtraining,droogtraining,wedstrijdzwemmers,vervolmaking,recreanten,masters,training,zwembad,badmuts,sportoase,sportclub,tyr,zwemschool,triathlon">
        <meta name="author" content="Pieter Smets (pieter@steps4it.be)">

        <meta name="mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/icons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/icons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/icons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/icons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/icons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/icons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/icons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/icons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/icons/apple-icon-180x180.png') }}">

        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/img/icons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/icons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/icons/favicon-16x16.png') }}">

        <meta name="msapplication-tap-highlight" content="no">
        <link rel="msapplication-square57x57logo" sizes="57x57" href="{{ asset('assets/img/icons/apple-icon-57x57.png') }}">
        <link rel="msapplication-square60x60logo" sizes="60x60" href="{{ asset('assets/img/icons/apple-icon-60x60.png') }}">
        <link rel="msapplication-square72x72logo" sizes="72x72" href="{{ asset('assets/img/icons/apple-icon-72x72.png') }}">
        <link rel="msapplication-square76x76logo" sizes="76x76" href="{{ asset('assets/img/icons/apple-icon-76x76.png') }}">
        <link rel="msapplication-square114x114logo" sizes="114x114" href="{{ asset('assets/img/icons/apple-icon-114x114.png') }}">
        <link rel="msapplication-square120x120logo" sizes="120x120" href="{{ asset('assets/img/icons/apple-icon-120x120.png') }}">
        <link rel="msapplication-square144x144logo" sizes="144x144" href="{{ asset('assets/img/icons/apple-icon-144x144.png') }}">
        <link rel="msapplication-square152x152logo" sizes="152x152" href="{{ asset('assets/img/icons/apple-icon-152x152.png') }}">
        <link rel="msapplication-square180x180logo" sizes="180x180" href="{{ asset('assets/img/icons/apple-icon-180x180.png') }}">


        <link rel="manifest" href="{{ asset('assets/img/icons/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('assets/img/icons/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <link rel="shortcut icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon">

        <title>{% block title %}{% endblock %} - Hoogstratens Zwem Team</title>

        <!-- Core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/hozt-v20190312T1514.css') }}" rel="stylesheet" />
        <!-- Custom styles for this template -->
        {% block stylesheets %}{% endblock %}

    </head>

    <body class="bg-light">

        {% block nav %}{% endblock %}
        {% block top %}{% endblock %}

        <div class="container">

            <div class="row">

            {% block body %}

                <!-- Main -->
                <div class="col col-12 col-md-9 p-0 col-print-12">

                  <div id="notices"></div>

                  {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-warning alert-dismissible fade fade-in mt-3 show" role="alert">
                      {{ flashMessage }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}

                  {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible fade fade-in mt-3 show" role="alert">
                      {{ flashMessage }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}

                  {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning alert-dismissible fade fade-in mt-3 show" role="alert">
                      {{ flashMessage }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}

                  {% block lead %}{% endblock %}
                  {% block main %}{% endblock %}

                </div>

                <!-- Sidebar -->
                <div class="col col-12 col-md-3 d-print-none">

                   {% block side %}{% endblock %}

                </div>

            {% endblock %}

            </div><!-- /div row -->

        </div><!-- /div container -->

        {% block footer %}{% endblock %}

        <a id="toTop" href="javascript:;" style="visibility:hidden;"><span id="toTopHover"></span><img width="40" height="40" alt="To Top" src="/assets/img/to-top@2x.png"></a>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>

        <!-- Additional page JavaScript
        ================================================== -->
        <script type="text/javascript">
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
            function scheduleNoticeAlert(msg) {
                notice = "<div class=\"alert alert-" + msg.type + " alert-dismissible fade fade-in mt-3 show\" role=\"alert\" id=\"" + msg.cookie + "\">";
                notice += "<i class=\"fas fa-exclamation-triangle\"></i> " + msg.title + " voor de";
                $.each( msg.categories, function( i, item ) {
                    notice += "<a class=\"alert-link ml-1 mr-1\" href=\"" + item.url + "\">" + item.name + "</a>";
                });
                notice += "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">";
                notice += "<span aria-hidden=\"true\">&times;</span>";
                notice += "</button></div>";
                return notice;
            }
            {% for msg in app.session.flashbag.get('scheduleNotice') %}
              var notice = scheduleNoticeAlert( {{ msg|json_encode|raw }});
              $( notice ).appendTo( "#notices" );
              $('#{{msg.cookie}}').on('closed.bs.alert', function () {
                  setCookie('{{msg.cookie}}', '{{msg.md5}}', 365)
              })
            {% endfor %}

        </script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
