{% extends '_main.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block nav %}
  {% include 'modules/discover_modal.html.twig' %}
  {% include 'modules/navbar.html.twig' %}
  {% include 'modules/navscroller.html.twig' %}
{% endblock %}

{% block top %}
  <div class="banner banner-bg banner-bg{{ random(5) }} banner-sm d-none d-md-block d-print-none"></div>
{% endblock %}

{% block side %}
  <div data-load="tyr" id="api_load_module_tyr"></div>
  <div data-load="competition_programs" id="api_load_module_competition_programs"></div>
  <div data-load="competition_results" id="api_load_module_competition_results"></div>
  <div data-load="training_today" id="api_load_module_training_today"></div>
  <div data-load="training_tomorrow" id="api_load_module_training_tomorrow"></div>
  {% if currentPath starts with '/kalender' %}{% else %}<div data-load="calendar_upcoming" id="api_load_module_calendar_upcoming"></div>{% endif %}
{% endblock %}

{% block footer %}
  {% include 'modules/footer.html.twig' %}
{% endblock %}

{% block js_global_data %}data-nofteams={{ base.nofteams }} data-nofcoaches={{ base.nofcoaches }} data-nofswimmers=124{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('hozt') }}
{% endblock %}
