{% extends '_main.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block nav %}
  {% include 'modules/navheader.html.twig' %}
  {% include 'modules/navbar.html.twig' %}
  {% include 'modules/navscroller.html.twig' %}
{% endblock %}

{% block top %}
  <div class="banner banner-bg banner-bg{{ random(6) }} banner-sm d-none d-md-block d-print-none"></div>
{% endblock %}

{% block side %}
  <div id="api_load_module_tyr"></div>
  <div id="api_load_module_competition_programs"></div>
  <div id="api_load_module_competition_results"></div>
  <div id="api_load_module_training_today"></div>
  <div id="api_load_module_training_tomorrow"></div>
  {% if currentPath starts with '/kalender' %}{% else %}<div id="api_load_module_calendar_upcoming"></div>{% endif %}
{% endblock %}

{% block footer %}
  {% include 'modules/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var nofteams = {{ base.nofteams }};
    var nofcoaches = {{ base.nofcoaches }};
    var nofswimmers = 124;
  </script>
  <script src="{{ asset('assets/js/countUp.js') }}"></script>
  <script src="{{ asset('assets/js/hozt.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_tyr.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_training_today.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_training_tomorrow.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_calendar_upcoming.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_competiton_programs.js') }}"></script>
  <script src="{{ asset('assets/js/api_load_module_competiton_results_dist.js') }}"></script>
{% endblock %}
