{% extends 'default.html.twig' %}

{% block title %}{{ page.training_category.name }}{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h1 class="text-red">{{ page.training_category.name }}</h1>
    <p class="lead">{{ page.training_category.description }}</p>

    <ul class="nav nav-tabs justify-content-center justify-content-md-start" id="categoryTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"><i class="fas fa-info-circle"></i><span class="d-none d-md-inline"> Groepen en trainers</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="trainingsuren-tab" data-toggle="tab" href="#trainingsuren" role="tab" aria-controls="trainingsuren"><i class="fas fa-clock"></i><span class="d-none d-md-inline"> Trainingsuren</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="wedstrijden-tab" data-toggle="tab" href="#wedstrijden" role="tab" aria-controls="wedstrijden"><i class="fas fa-clipboard-list"></i><span class="d-none d-md-inline"> Wedstrijden</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="uitslagen-tab" data-toggle="tab" href="#uitslagen" role="tab" aria-controls="uitslagen"><i class="fas fa-trophy"></i><span class="d-none d-md-inline"> Uitslagen</span></a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane fade mt-4 active show" id="info" role="tabpanel" aria-labelledby="info-tab">
      <h4 class="d-md-none pb-2">Groepen en trainers</h4>
      {% for team in page.training_category.teams %}
        <dl class="row mb-md-1"> 
          <dt class="col-12 col-sm-3 d-none d-sm-block text-right">
            <h5><span class="badge badge-secondary pt-1">{{team.abbr}}</span></h5>
          </dt>
          <dd class="col-12 col-sm-9">
            <h5><span class="badge badge-secondary pt-1 mr-2 d-sm-none">{{team.abbr}}</span> {{team.name}}</h5>
          </dd>
          {% if team.coaches|length > 0 %}
          <dt class="col-12 col-sm-3 text-md-right">Trainer{% if team.coaches|length > 1 %}s{%endif%}</dt>
          <dd class="col-12 col-sm-9">
            {% for coach in team.coaches %}
              <span class="badge badge-gold">{{coach.firstname}}</span>
            {% endfor %}
          </dd>
          {% endif %}
          <dt class="col-12 col-sm-3 text-md-right">Doelstellingen</dt>
          <dd class="col-12 col-sm-9">{{team.goal|ucfirst}}</dd>
          <dt class="col-12 col-sm-3 text-md-right">Leeftijd</dt>
          <dd class="col-12 col-sm-9">{{team.age}}</dd>
          <dt class="col-12 col-sm-3 text-md-right">Toelatingsvoorwaarden</dt>
          <dd class="col-12 col-sm-9">
            <ul class="list-unstyled">
            {% for req in team.requirements %}
              <li class="mb-md-1">{{req|ucfirst}}</li>
            {% endfor %}
            </ul>
          </dd>
        </dl>
      {% endfor %}

      <p class="text-right small"><i>C/R/SS/D kunnen zwemmen volgens de strenge technische criteria van HoZT</i></p>

      </div><!-- end tab info -->

      <div class="tab-pane fade mt-4" id="trainingsuren" role="tabpanel" aria-labelledby="trainingsuren-tab">

{% set enabled=false %}

        {% if page.training_team_exceptions is not empty and enabled %}
        <div class="alert alert-danger mb-4">
          <h5 class="pb-2"><i class="fas fa-exclamation-triangle"></i> <strong>Opgelet: </strong> Eén of meerdere trainingen gaan niet door!</h5>
          <ul class="list-unstyled"> 
          {% for ex in page.training_team_exceptions %}
              <li class="mb-2">
                {% if ex.startDate == ex.endDate %}
                  <strong>Op {{ex.startDate|localizeddate('full','none')}}</strong>
                {% else %}
                  <strong>Tijdens de periode van {{ex.startDate|localizeddate('long','none')}} tot {{ex.endDate|localizeddate('long','none')}}</strong>
                {% endif %}
                {% if ex.teams|length > 0 %}
                  {% for team in ex.teams %}{% if team.category == page.training_category%}<span class="badge badge-danger ml-1 mr-1">{{team}}</span>{% endif %}{% endfor %}
                {% else %}
                  {% for team in page.training_category.teams %}{% if team.enabled %}<span class="badge badge-danger ml-1 mr-1">{{team}}</span>{% endif %}{% endfor %}
                {% endif %}
                {% if ex.comment is not empty %}<span class="badge badge-info ml-2"><i class="fas fa-info-circle"></i> {{ex.comment}}</span>{% endif %}
                {% if ex.schedule|length > 0 %}
                  <ul>
                  {% for schedule in ex.schedule %}<li>specifiek op {{schedule.day|lower}} van {{schedule.time}}</li>{% endfor %}
                    <li class="list-unstyled"><small><i>Opgelet: Eventuele andere trainingen gaan gewoon door.</i></small></li>
                  </ul>
                {% else %}
                  {% if ex.startDate != ex.endDate %}<strong>voor alle trainingen</strong>{% endif %}
                {% endif %}
              </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        <h4 class="d-md-none pb-2">Trainingsuren</h4>
        {% for day in page.training_days %}
          <dl class="row mb-md-2"> 
            {% for schedule in day.schedule %}
              <dt class="col-12 col-sm-2 col-lg-3 text-md-right mb-1">{% if loop.index0 == 0%}{{day}}{% endif %}</dt>
              <dd class="col-5 col-sm-3 col-lg-2 p-0 text-right mb-1">{{schedule.time}}</dd>
              <dd class="col-7 col-sm-7 mb-1">
                {% for team in schedule.teams %}<span class="badge badge-secondary badge-team mr-1 mr-md-2">{{team}}</span>{% endfor %}
                {% if schedule.comment is not empty %}<span class="badge badge-info ml-md-1"><i class="fas fa-info-circle"></i> {{schedule.comment}}</span>{% endif %}
                {% if schedule.persistent or schedule.description is not empty %}
                  <span class="badge badge-light text-muted float-md-right mt-md-2" {% if schedule.persistent %}data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% if schedule.enddate != schedule.startdate %}van {{schedule.startdate|localizeddate('medium','none')}} tot {{schedule.enddate|localizeddate('medium','none')}}{% else %}{{schedule.enddate|localizeddate('medium','none')}}{% endif %}"{% endif %}><i class="fas fa-comment"></i> {{schedule.description}}</span>
                {% endif %}
            </dd>
            {% endfor %}
          </dl>
        {% endfor %}
      </div><!-- end tab trainingsuren -->

      <div class="tab-pane fade mt-4" id="wedstrijden" role="tabpanel" aria-labelledby="wedstrijden-tab">
      <h4 class="d-md-none pb-0">Wedstrijden</h4>
      {% if page.competitions|length == 0 %}
        <p>Er staan geen wedstrijden op de kalender.</p>
      {% else %}

        {% for competition in page.competitions %}

          {% set cookie = 'calendar_event_'~competition.calendar.uuid %}
          {% if app.request.cookies.has(cookie) %}
            {% set lastvisit = app.request.cookies.get(cookie)|epoch %}
          {% else %}
            {% set lastvisit = false %}
          {% endif %}

          <div class="row mb-4 mt-4 mb-md-3 mt-md-3 {% if competition.calendar.cancelled %}text-muted{% endif %}">
            <div class="col-12 col-md-3 text-md-right"><h6 class="mb-1 mb-md-2">{{competition.calendar.getFormattedPeriod}}</h6></div>
              <div class="col-12 col-md-9 cal" onclick="window.location='{{ path('calendar_event', {'uuid': competition.calendar.uuid}) }}';">

              <h5 class="pb-0 mb-1 d-flex justify-content-between">{% if competition.calendar.cancelled %}<s>{% endif %}{{competition.calendar.title|ucfirst}}{% if competition.calendar.cancelled %}</s>{% endif %}
                <small>
                  {% if competition.calendar.cancelled %}
                    <span class="badge badge-danger ml-1">Geannuleerd</span>
                  {% else %}
                    {% if competition.calendar.body is not empty %}<span class="badge badge-light">&nbsp;<i class="fas fa-info"></i>&nbsp;</span>{% endif %}
                    {% if competition.calendar.createdAt > page.lastvisit|date_modify("-14 days") and not lastvisit %}<span class="badge badge-gold ml-1">Nieuw</span>
                    {% elseif (lastvisit and lastvisit < competition.calendar.updatedAt) or (not lastvisit and  competition.calendar.updatedAt > page.lastvisit|date_modify("-7 days"))%}<span class="badge badge-info ml-1">Update</span>
                    {% endif %}
                  {% endif %}
                </small>
              </h5>

              <ul class="list-unstyled text-muted small mb-1 cal">
                <li><i class="fas fa-swimming-pool"></i> {{competition.pool}}{% if competition.calendar.location %}, {{competition.calendar.location|ucwords }}{% endif %}</li>
                {% if competition.teamCategories|length > 0 %}
                  <li><i class="fas fa-swimmer"></i>
                    {% for category in competition.teamCategories %}<span class="mr-1">{{category.abbr}}</span>{% endfor %}
                  </li>
                {% elseif competition.teams|length > 0%}
                  <li><i class="fas fa-swimmer"></i>
                    {% for team in competition.teams %}<span class="pr-1">{{team.abbr}}</span>{% endfor %}
                  </li>
                {% endif %}
                {% if competition.multiDay %}
                  <li class="mb-1 text-warning"><i class="fas fa-info-circle"></i> overnachting</li>
                {% endif %}
                {% if competition.restrictions %}
                  <li class="text-danger"><i class="fas fa-exclamation-triangle"></i> limieten</li>
                {% endif %}
                {% if competition.documents is not empty %}
                  <li><i class="fas fa-paperclip"></i>
                    {% for doc in competition.documents %}
                      <a href="{{ vich_uploader_asset(doc,'documentFile') }}" class="pr-2">{{doc.category}}{% if doc.description is not empty%} {{doc.description}}{% endif %}</a>
                    {% endfor %}
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      </div>

      <div class="tab-pane fade mt-4" id="uitslagen" role="tabpanel" aria-labelledby="uitslagen-tab">
      <h4 class="d-md-none pb-0">Uitslagen</h4>
      {% if page.results|length == 0 %}
        <p>Geen wedstrijduitslagen gevonden.</p>
      {% else %}
        {% for item in page.results %}
        <div class="row mb-4 mt-4 mb-md-3 mt-md-3">
          <div class="col-12 col-md-3 text-md-right"><h6 class="mb-1 mb-md-2">{{item.calendar.getFormattedPeriod}}</h6></div>
          <div class="col-12 col-md-9 cal" onclick="window.location='{{ path('calendar_event', {'uuid': item.calendar.uuid}) }}';">
            <h5 class="pb-0 mb-1">{{item.calendar.title}}</h5>
            <ul class="list-unstyled text-muted small mb-1 cal"> 
                <li><i class="fas fa-swimming-pool"></i> {{item.pool}}{% if item.calendar.location %}, {{item.calendar.location}}{% endif %}</li>
              <li><i class="fas fa-trophy"></i> 
                {% for doc in item.documents %}
                  <a href="{{ vich_uploader_asset(doc,'documentFile') }}" class="pr-2">{{doc.category}}{% if doc.description is not empty%} {{doc.description}}{% endif %}</a>
                {% endfor %} 
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
      {% endif %}
      </div>


    </div>

  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/js/training_team_tabs_deep_linking.js') }}"></script>
{% endblock %}
