{% extends 'default.html.twig' %}

{% block title %}Trainingsuren{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h1 class="text-primary">Trainingsuren</h1>
    <p class="lead mb-4">De HoZT-trainingsuren per dag <a href="{{ path('training_schedule_teams') }}">of per groep</a></p>

    {% if page.training_persistent > 0 %}
    <div class="alert alert-secondary">
      <div class="row align-items-center">
        <div class="col-2"><i class="fas fa-info"></i></div>
        <div class="col-10 text-right small"><i>Tijdelijke <u>extra trainingsuren</u> zijn aangegeven in <a href="https://en.wikipedia.org/wiki/Aqua_(color)" class="text-info" target="_Blank"><strong>aqua</strong></a>. <br class="d-none d-md-inline">Klik op <i class="fas fa-comment"></i> voor de juiste datum of periode.</i></div>
      </div>
    </div>
    {% endif %}

    {% for day in 1..7 %}

      {% set schedules = page.training_schedule|filter(s => s.dayNumber == day) %}

      {% if schedules is not empty %}
      <h3 class="mb-3 mb-md-4 pt-3{% if not loop.first %} mt-3 mt-md-5 border-top{% endif %}">{{ (schedules|first).dayName|trans() }}</h3>

      <dl class="row mb-md-2"> 

        {% for schedule in schedules %}
          <dt class="col-12 col-sm-2 col-lg-3 text-md-right mb-1"></dt>
          <dd class="col-5 col-sm-3 col-lg-2 p-0 text-right mb-1 {% if schedule.persistent %}text-info{% endif %}">{{schedule.time}}</dd>
          <dd class="col-7 col-sm-7 mb-1">
            {% for team in schedule.teams %}<span class="badge badge-secondary badge-team mr-1 mr-md-2">{{team}}</span>{% endfor %}
            {% if schedule.comment is not empty %}<span class="badge badge-info ml-md-1"><i class="fas fa-info-circle"></i> {{schedule.comment}}</span>{% endif %}
            {% if schedule.persistent or schedule.description is not empty %}
              <span class="badge badge-light text-muted float-md-right mt-md-2" {% if schedule.persistent %}data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% if schedule.enddate != schedule.startdate %}van {{schedule.startdate|localizeddate('medium','none')}} tot {{schedule.enddate|localizeddate('medium','none')}}{% else %}{{schedule.enddate|localizeddate('medium','none')}}{% endif %}"{% endif %}><i class="fas fa-comment"></i> {{schedule.description}}</span>
            {% endif %}
          </dd>
        {% endfor %}
      </dl>
    {% endif %}

    {% endfor %}

  </div>

{% endblock %}

