{% apply spaceless %}

{% set endOfWeek = startOfWeek|date_modify('+6 days') %}

<h5 class="mb-4">
  <span class="text-muted mr-2 mr-md-3">{{endOfWeek|date('Y')}}W{{endOfWeek|date('W')}}</span>
  {{startOfWeek|localizeddate('long','none')}} tot {{endOfWeek|localizeddate('long','none')}}
</h5>

{# check if schedule is empty #}
{% set noSchedule = true %}
{% for daySchedule in weekSchedule %}
  {% if daySchedule['schedule'] %}
    {% set noSchedule = false %}
  {% endif %}
{% endfor %}


{% if noSchedule %}
<p><i class="fad fa-sheep"></i> Er zijn helaas <u>geen trainingen</u> voor de geselecteerde week en groep(en).</p>
{% else %}
<div class="table-responsive">
  <table class="table nowrap">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center"><i class="fas fa-clock"></i></th>
        <th scope="col"><i class="fad fa-user-friends"></i></th>
        <th scope="col"><i class="fas fa-info-circle"></i></th>
      </tr>
    </thead>
    <tbody>
    {% for daySchedule in weekSchedule %}
      {% if daySchedule['schedule'] %}
      <tr>
        <td>
          <b>{{daySchedule['date']|localizeddate('full', 'none', app.request.locale, null, 'EEEE')|ucfirst}}</b><br><small>{{daySchedule['date']|localizeddate('medium', 'none')}}</small>
        </td>
        <td class="text-center">
        {% for schedule in daySchedule['schedule'] %}
          {{schedule.time}}
          {% if loop.index > 0 %}<br>{% endif %}
        {% endfor %}
        </td>
        <td>
        {% for schedule in daySchedule['schedule'] %}
          {% for team in schedule.getTeams %}<span class="badge badge-medium align-text-bottom mr-1">{{team.abbr}}</span>{% endfor %}
          {% if loop.index > 0 %}<br>{% endif %}
        {% endfor %}
        <td>
        {% for schedule in daySchedule['schedule'] %}
          <span class="smaller">{{schedule.description}}</span>
          {% if schedule.comment %}<span class="badge badge-info align-text-bottom">{{schedule.comment}}</span>{% endif %}
          {% if loop.index > 0 %}<br>{% endif %}
        {% endfor %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endapply %}
