{% extends 'default.html.twig' %}

{% block title %}Aanbod{% endblock %}

{% block main %}

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h1 class="pt-2 text-red">Aanbod</h1>
    <p class="lead mb-4">De HoZT-zwemmers zijn ingedeeld in volgende groepen</p>

    <div class="row">

    {% for team in teams %}
        <div class="col col-12 col-md-6 mb-4">
            <div class="card groups border border-gray">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h4 class="card-title">{{ team.name }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ team.description }}</h6>
                        <p class="card-text">
                            <span class="badge badge-danger">6 <i class="fas fa-times"></i></span>
                            <span class="badge badge-danger">{{ team.duration }}</span><br>
                            <span class="badge badge-secondary">Ma</span>
                            <span class="badge badge-secondary">Di</span>
                            <span class="badge badge-secondary">Wo</span>
                            <span class="badge badge-secondary">Do</span>
                            <span class="badge badge-secondary">Vr</span>
                            <span class="badge badge-secondary">Za</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

    <p class="mt-5"><i class="fas fa-info-circle"></i> Bekijk ook het overzicht van de <a href="{{ path('swim_schedule') }}">HoZT-trainingsuren</a> per groep of de <a href="{{ path('swim_coaches') }}">HoZT-trainers</a> en hun groepen.</p>

  </div>

{% endblock %}
