<h6 class="mb-3 text-muted">{{data['date']|localizeddate('full','none')}}</h6>
{% for schedule in data['schedule'] %}
  {% if loop.first %}<dl class="row">{% endif %}
  <dd class="col-sm-4 text-sm-right align-baseline"><small class="text-muted">{{schedule.time}}</small></dd>
  <dd class="col-sm-8">
    {% for team in schedule.getTeams %}
      {% for member in team.getUserMembers(app.user)%}{{member.firstname}}&nbsp;{% endfor %}
      <span class="badge badge-medium align-text-bottom">{{team.abbr}}</span>{% endfor %}
      {% if schedule.comment %}
        <span class="badge badge-info align-text-bottom"><i class="fas fa-info-circle"></i> {{schedule.comment}}</span>
      {% endif %}
      {% if schedule.description %}
        <a tabindex="0" class="badge badge-light text-muted align-text-bottom float-md-right" data-toggle="popover" data-trigger="focus" data-content="{{schedule.description}}"><i class="fas fa-comment"></i></a>
      {% endif %}
    </dd>
    {% if loop.last %}</dl>{% endif %}
{% else %}
  <p>Er is vandaag geen training voor jouw groepen.</p>
{% endfor%}
<a href="{{path('membership_schedule')}}" class="card-link float-right small"><i class="fas fa-caret-right"></i> Alle trainingsuren</a>
