<h5 class="card-title text-primary">{{data_type|ucfirst}} wedstrijden<small><span class="badge badge-primary align-text-bottom ml-2">{{data|length}}</span></small></h5>
{% for competition in data|slice(0, 5) %}
  {% if loop.first %}<dl class="row">{% endif %}
  <dd class="col-sm-4 text-sm-right align-baseline"><small class="text-muted">{{competition.calendar.startTime|localizeddate('medium','none')}}</small></dd>
  <dd class="col-sm-8"><a href="{{ path('calendar_event', {'uuid': competition.calendar.uuid}) }}" target="_Blank" class="text-dark">{{competition.calendar.title}} <small class="badge badge-medium align-text-bottom">{{competition.organization}}</small></a></dd>
  {% if loop.last %}</dl>{% endif %}
{% else %}
  <p>Geen {{data_type}} wedstrijden gevonden.</p>
{% endfor%}
<a href="{{path('membership_competitions')}}" class="card-link float-right small"><i class="fas fa-caret-right"></i> Alle wedstrijden</a>
