{% extends 'default.html.twig' %}

{% block title %}Mijn account{% endblock %}

{% block main %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb border-none rounded-0 mb-0 smaller">
        <li class="breadcrumb-item active" aria-current="page">Mijn account</li>
      </ol>
    </nav>

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h2 class="text-primary d-flex justify-content-between">Overzicht</h2>

    <p>Hallo {{app.user.firstname}}.
<!--[user message from flashbox]Er zijn momenteel geen meldingen.[/usesmessage]-->
</p>


    <div class="row">

      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary">Komende wedstrijden<small><span class="badge badge-primary align-text-top ml-2">{{page.upcoming_competitions|length}}</span></small></h5>
            <dl class="row">
            {% for competition in page.upcoming_competitions|slice(0, 5) %}
              <dd class="col-sm-4 text-sm-right align-baseline"><small class="text-muted">{{competition.calendar.startTime|localizeddate('medium','none')}}</small></dd>
              <dd class="col-sm-8"><a href="{{ path('calendar_event', {'uuid': competition.calendar.uuid}) }}" target="_Blank" class="text-dark">{{competition.calendar.title}} <small class="badge badge-medium align-text-top">{{competition.organization}}</small></a></dd>
            {% else %}
              <p>Geen komende wedstrijden gevonden.</p>
            {% endfor%}
            </dl>
            <a href="{{path('membership_competitions')}}" class="card-link float-right small"><i class="fas fa-caret-right"></i> Alle wedstrijden</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary">Nieuwe wedstrijden<small><span class="badge badge-primary align-text-top ml-2">{{page.new_competitions|length}}</span></small></h5>
            <dl class="row">
            {% for competition in page.new_competitions|slice(0, 5) %}
              <dd class="col-sm-4 text-sm-right align-baseline"><small class="text-muted">{{competition.calendar.startTime|localizeddate('medium','none')}}</small></dd>
              <dd class="col-sm-8"><a href="{{ path('calendar_event', {'uuid': competition.calendar.uuid}) }}" target="_Blank" class="text-dark">{{competition.calendar.title}} <small class="badge badge-medium align-text-top">{{competition.organization}}</small></a></dd>
            {% else %}
              <p>Geen nieuwe wedstrijden gevonden.</p>
            {% endfor%}
            </dl>
            <a href="{{path('membership_competitions')}}" class="card-link float-right small"><i class="fas fa-caret-right"></i> Alle wedstrijden</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary d-flex">Leden <small><span class="badge badge-primary ml-2">{{app.user.getEnabledMembers()|length}}</span></small></h5>
            {% for member in app.user.getEnabledMembers() %}
            <p class="card-text">{{member}}{%if member.team%} | {{member.team.name}}{%endif%} {%for tag in member.grouping%}<span class="badge badge-secondary small ml-1 align-text-top">{{tag.name}}</span>{%endfor%}<br><span class="text-muted small">Lidnr. {{member.memberId}} {%if member.registrationId%}| Licentienr. {{member.registrationId}}{%endif%}</span></p>
            {% endfor %}
            <a href="{{path('membership_preferences')}}" class="card-link float-right small"><i class="fas fa-caret-right"></i> Voorkeuren</a>
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
