{% for member in app.user.getEnabledMembers() %}
<div class="mb-3 mb-lg-4">
  <h5 class="mb-0">{{member}}</h5>
  <ul class="list-unstyled text-muted">
    <li class="mb-1">{%if member.team%}<span class="badge badge-primary mr-1">{{member.team.name}}</span>{%endif%}{%for tag in member.grouping%}<span class="badge badge-secondary mr-1">{{tag.name}}</span>{%endfor%}</li>
    <li class="mb-1 small">{% if member.gender == 'M' %}<i class="fas fa-male"></i>{% else %}<i class="fas fa-female"></i>{% endif %} {{member.birthdate|localizeddate('short','none')}}</li>
    <li class="mb-1 small">Lidnummer {{member.memberId}} {%if member.registrationId%}| Licentienummer {{member.registrationId}}{%endif%}</li>
    {% set elapsed = date().diff(member.memberSince) %}
    <li class="mb-1 small">{{elapsed|date('%a')}} dagen lid (sinds {{member.memberSince|localizeddate('short','none')}})</li>
  </ul>
</div>
{% endfor %}
