{% set details = app.user.details %}

<div class="text-right">
  <button class="btn btn-light btn-sm" data-toggle="modal" data-target="#preferencesModal" data-tab="{{tab}}" data-action="edit" data-id="{{details.id}}"><i class="fas fa-pen"></i> {{'form.edit'|trans}}</button> 
</div>

<div class="col-lg-10 mb-4">
  <div class="row">
    <div class="col-12 mb-3">
      <label class="smaller">Nieuwe wedstrijden en naderende deadlines</label>
      <div class="form-control">{% for d in details.notificationDaynames %}{{d|trans|slice(0,2)}} {% endfor %}</div>
    </div>
    <div class="col-12 mb-3">
      <label class="smaller">Herinneringen aangemelde wedstrijden</label>
      <div class="form-control">{{details.reminderOffset}} dag{% if details.reminderOffset != 1%}en{% endif %} vooraf</div>
    </div>
    <div class="col-12 mb-3">
      <label class="smaller">Extra email</label>
      <div class="form-control">{%if details.secondaryEmail%}{{details.secondaryEmail|hide_email}}{%else%}geen{%endif%}</div>
    </div>
  </div>
</div>
